@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@300;400;500&display=swap');

:root {
    --sunset-orange: hsl(0, 100%, 67%);
    --chinese-black: hsl(0, 0%, 7%);
    --dark-silver: hsl(0, 0%, 44%);
    --philippine-silver: hsl(0, 0%, 70%);
    --gainsbro: hsl(0, 0%, 85%);
    --white: hsl(0, 0%, 100%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {}

/* header section */
.header {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url('../images/donation13.jpg');
    height: 670px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 175px 345px;
    text-align: center;
}

.header-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: var(--white);

}

.header-subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--white);
    margin-top: 20px;
    margin-bottom: 30px;

}

.btn {
    background-color: var(--sunset-orange);
    color: var(--white);
    font-weight: 600;
    font-size: 20px;
    padding: 16px 20px;
    border-style: none;
    border-radius: 5px;
}

/* donate today section */

.donate-today {
    margin-top: 130px;
}

.section-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.section-description {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--dark-silver);
    margin-top: 20px;
    margin-bottom: 50px;
}

.tk-container {
    display: flex;
}

.tk-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tk-description {}